
<div>
  <img width="500" alt="Product Recall" src="../assets/prod_rec1.png">
</div>
    <div class="grid2x2">
        <div class="flex-container"  style="background-color: #3498db;">
            <a routerLink="/food-recall">
                <img width="300" alt="Apple" src="../assets/apple_x.png">
            </a>
        </div>

        <div class="flex-container"  style="background-color: lightgreen;">
            <a routerLink="/vehicle-recall"> 
                <img width="300" alt="Steering Wheel" src="../assets/steeringwheel_x.png">
            </a>
        </div>

        <div class="flex-container"  style="background-color: purple;">
            <a routerLink="/consumer-product-recall">
                <img width="300" alt="Bib" src="../assets/bib_x.png">
            </a>
        </div>

        <div class="flex-container"  style="background-color: grey">
            <a routerLink="/drug-recall">
                <img width="300" alt="Pill" src="../assets/drug_x1.png">
            </a>
        </div>
    </div>
<router-outlet></router-outlet>